body {
    color: rgb(249, 247, 247);
    background-color: black;
    width: 80vh;
}


.logo {
    text-align: center;
    font-size: 80px;
    font-family: 'Avenir Next';
    font-style: Italic;
    font-weight: 100;
    letter-spacing: 5px;
    margin: 0px 50px 0px 40px;

    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Antipasto Pro Thin';
    src: url('../fonts/AntipastoProThin.ttf') format('truetype'),
}

@font-face {
    font-family: 'Klartext Mono';
    src: url('../fonts/KlartextMonoRegularItalic.ttf') format('truetype'),
}


span {
    text-decoration: line-through;
    text-decoration-thickness: 1px; 
}

a {
    display: block;
    margin: 40px 0px 40px 10px;
    font-family: "Menlo";
    font-style: Italic;
    font-size: 20px;
    font-weight: 100;
    color:rgb(249, 247, 247);
    text-decoration: none;
}

a:hover, a:active, a:focus, a:visited {
    text-shadow: 5px 5px 20px rgb(100, 247, 247);
    font-style: Bold Italic;
    font-weight: 1000;
  }


p {
    margin: 40px 0px 40px 10px;
    font-family: "Menlo";
    font-style: Italic;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 100;
    width: 70vh
}


/* styles for the menu icon and menu */


/* New styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vh 0 0; /* Add padding to the right */
    position: relative;
}

.menu-icon {
    font-size: 40px;
    cursor: pointer;
    margin-left: 0vw; /* Add spacing between logo and menu icon */
}

/* Visually hide the checkbox */
#menu-toggle {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.menu {
    list-style: none;
    position: absolute;
    top: 100%; /* Adjust positioning with some spacing */
    right: 10px;
    left: 0; /* Make the menu span the entire width */
    background-color: black;
    padding: 0px;
    display: none;
    z-index: 1; /* Ensure menu is on top of other content */
    text-align: center; /* Align menu items to the center */
    margin: 0; /* Remove default margin */
}

.menu.active {
    display: block;
}

.content {
    margin-top: 0; /* Default margin */
    transition: margin-top 0.3s ease; /* Add transition for smooth effect */
    position: relative; /* Add this line to establish stacking context */
}


/* Apply the margin only when the menu is active */
.content.menu-active {
    margin-top: 565px;
}


.menu li {
    font-size: 30px;
    letter-spacing: 5px;
    padding: 0px; /* Add padding inside each menu item */
    border: 1px solid white; /* Add border around each menu item */
    margin: 0; /* Add spacing between menu items */

}

.small {
    font-size: 20px;
}

