:root {
    --space-10: 10px;
    --space-40: 40px;
    --space-50: 50px;
    --menu-offset: 565px;
    --fs-base: 20px;
    --fs-logo: 80px;
    --fs-menu-icon: 40px;
    --fs-menu-item: 30px;
    --ls-base: 2px;
    --ls-wide: 5px;
    --menu-icon-width: calc(var(--fs-menu-icon) * 0.68);
    --menu-icon-bar-height: clamp(1.5px, 0.32vw, 2.5px);
    --menu-icon-gap: clamp(7px, 1.8vw, 12px);
    --menu-icon-timing: 200ms ease-in-out;
    --menu-icon-height: calc((var(--menu-icon-bar-height) * 3) + (var(--menu-icon-gap) * 2));
    --menu-icon-x-width: calc(var(--menu-icon-height) * 1.41421356237);
}

@media (max-width: 375px) {
    :root {
        --fs-logo: clamp(56px, 18vw, 68px);
        --fs-menu-icon: clamp(28px, 9vw, 34px);
        --ls-wide: clamp(3px, 1vw, 4px);
    }

    .navbar {
        padding: 0 clamp(14px, 5vw, 22px);
    }

    .logo {
        margin: 0;
    }
}

html,
body {
    overflow-x: hidden;
}

@media (min-width: 376px) and (max-width: 899px) {
    :root {
        --space-10: clamp(10px, 3.125vw, 13.5px);
        --space-40: clamp(40px, 12.5vw, 54px);
        --space-50: clamp(50px, 15.625vw, 67.5px);
        --menu-offset: clamp(565px, 176.5625vw, 762.75px);
        --fs-base: clamp(20px, 6.25vw, 27px);
        --fs-logo: clamp(80px, 25vw, 108px);
        --fs-menu-icon: clamp(40px, 12.5vw, 54px);
        --fs-menu-item: clamp(30px, 9.375vw, 40.5px);
        --ls-base: clamp(2px, 0.625vw, 2.7px);
        --ls-wide: clamp(5px, 1.5625vw, 6.75px);
    }
}

body {
    color: rgb(249, 247, 247);
    background-color: black;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    width: min(80vh, 100vw);
    margin-left: auto;
    margin-right: auto;
    padding-left: clamp(14px, 2.8vw, 22px);
    padding-right: clamp(14px, 2.8vw, 22px);
    box-sizing: border-box;
}

body.home {
    --home-indent: clamp(10px, 2.6vw, 18px);
    --home-gap: clamp(30px, 7vw, 40px);
    --home-nav-pad-left: clamp(2px, 2vw, 2px);
    --home-nav-pad-right: clamp(28px, 8vw, 72px);
    --home-nav-gap: clamp(6px, 2.4vw, 18px);
    --home-menu-icon-offset: clamp(18px, 6vw, 44px);
    padding-left: var(--home-indent);
    padding-right: var(--home-indent);
}

body.home .navbar {
    justify-content: center;
    gap: var(--home-nav-gap);
    padding: 0 var(--home-nav-pad-right) 0 var(--home-nav-pad-left);
}

body.home .logo {
    margin: 0;
}

body.home .menu-icon {
    margin-left: 0;
    position: absolute;
    right: var(--home-menu-icon-offset);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.logo {
    text-align: center;
    font-size: var(--fs-logo);
    font-family: 'Avenir Next';
    font-style: Italic;
    font-weight: 100;
    letter-spacing: var(--ls-wide);
    margin: 0px var(--space-50) 0px var(--space-40);

    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Antipasto Pro Thin';
    src: url('../fonts/AntipastoProThin.ttf') format('truetype'),
}

@font-face {
    font-family: 'Klartext Mono';
    src: url('../fonts/KlartextMonoRegularItalic.ttf') format('truetype'),
}


span {
    text-decoration: line-through;
    text-decoration-thickness: 1px; 
}

a {
    display: block;
    margin: var(--space-40) 0px var(--space-40) var(--space-10);
    font-family: "Menlo";
    font-style: Italic;
    font-size: var(--fs-base);
    font-weight: 100;
    color:rgb(249, 247, 247);
    text-decoration: none;
}

a:hover, a:active, a:focus, a:visited {
    text-shadow: 5px 5px 20px rgb(100, 247, 247);
    font-style: Bold Italic;
    font-weight: 1000;
  }


p {
    margin: var(--space-40) 0px var(--space-40) var(--space-10);
    font-family: "Menlo";
    font-style: Italic;
    letter-spacing: normal;
    font-size: var(--fs-base);
    font-weight: 100;
    width: min(70vh, 87.5vw);
}

body.home .content a,
body.home .content p {
    margin: var(--home-gap) 0px var(--home-gap) var(--home-indent);
}


/* styles for the menu icon and menu */


/* New styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vh 0 0; /* Add padding to the right */
    position: relative;
}

.menu-icon {
    cursor: pointer;
    margin-left: 0vw; /* Add spacing between logo and menu icon */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--menu-icon-gap);
    width: var(--menu-icon-width);
    height: var(--menu-icon-height);
    color: rgb(249, 247, 247);
}

.menu-icon span {
    width: 100%;
    height: var(--menu-icon-bar-height);
    background-color: currentColor;
    border-radius: 9999px;
    transform-origin: left center;
    transition:
        opacity var(--menu-icon-timing),
        transform var(--menu-icon-timing),
        width var(--menu-icon-timing);
}

#menu-toggle:focus-visible + .menu-icon {
    outline: 1px solid currentColor;
    outline-offset: 6px;
}

#menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: translate(
        calc(-0.6 * var(--menu-icon-gap)),
        calc(-0.6 * var(--menu-icon-gap))
    ) rotate(-12deg);
}

#menu-toggle:checked + .menu-icon span:nth-child(2) {
    transform: translate(
        calc(0.9 * var(--menu-icon-gap)),
        calc(-0.6 * var(--menu-icon-gap))
    ) rotate(7deg);
}

#menu-toggle:checked + .menu-icon span:nth-child(3) {
    /* transform: rotate(-4deg); */
}

/* Visually hide the checkbox */
#menu-toggle {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.menu {
    list-style: none;
    position: absolute;
    top: 100%; /* Adjust positioning with some spacing */
    right: 0;
    left: 0;
    background-color: black;
    padding: 0px;
    display: none;
    z-index: 1; /* Ensure menu is on top of other content */
    text-align: center; /* Align menu items to the center */
    margin: 0; /* Remove default margin */
}

.menu.active {
    display: block;
}

.content {
    margin-top: 0; /* Default margin */
    transition: margin-top 0.3s ease; /* Add transition for smooth effect */
    position: relative; /* Add this line to establish stacking context */
}


/* Apply the margin only when the menu is active */
.content.menu-active {
    margin-top: var(--menu-offset);
}


.menu li {
    font-size: var(--fs-menu-item);
    letter-spacing: var(--ls-wide);
    padding: 0; /* Let the link control vertical height */
    border-left: 1.25px solid white;
    border-right: 1.25px solid white;
    border-bottom: 1.25px solid white;
    margin: 0; /* Add spacing between menu items */

}

.menu li:first-child {
    border-top: 1.25px solid white;
}

.menu li a {
    margin: 0;
    padding: 6px 0;
    line-height: 4;
}

.small {
    font-size: var(--fs-base);
}

@media (min-width: 900px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        padding: 0 2vw;
    }

    .menu {
        right: 0;
        left: 0;
    }
}

@media (max-width: 520px) {
    :root {
        --fs-base: clamp(13px, 3.6vw, 16px);
        --fs-logo: clamp(56px, 15vw, 72px);
        --fs-menu-item: clamp(16px, 4.2vw, 20px);
        --fs-menu-icon: clamp(28px, 8vw, 36px);
        --ls-wide: clamp(2px, 0.7vw, 3px);
    }

    body.home {
        --home-nav-pad-left: clamp(20px, 8vw, 34px);
        --home-nav-pad-right: clamp(22px, 9vw, 36px);
        --home-nav-gap: clamp(6px, 3vw, 12px);
        --home-menu-icon-offset: clamp(12px, 6vw, 24px);
    }

    body.home .navbar {
        justify-content: flex-start;
        padding: 0 var(--home-nav-pad-right) 0 var(--home-nav-pad-left);
        gap: var(--home-nav-gap);
    }

    .logo {
        margin: 0;
    }

    .menu-icon {
        margin-left: 0;
    }

    .menu {
        right: 0;
        left: 0;
    }
}
