:root {
    --space-10: 10px;
    --space-40: 40px;
    --space-50: 50px;
    --menu-offset: 565px;
    --fs-base: 20px;
    --fs-logo: 80px;
    --fs-menu-icon: 40px;
    --fs-menu-item: 30px;
    --ls-base: 2px;
    --ls-wide: 5px;
}

@media (min-width: 376px) and (max-width: 899px) {
    :root {
        --space-10: clamp(10px, 3.125vw, 13.5px);
        --space-40: clamp(40px, 12.5vw, 54px);
        --space-50: clamp(50px, 15.625vw, 67.5px);
        --menu-offset: clamp(565px, 176.5625vw, 762.75px);
        --fs-base: clamp(20px, 6.25vw, 27px);
        --fs-logo: clamp(80px, 25vw, 108px);
        --fs-menu-icon: clamp(40px, 12.5vw, 54px);
        --fs-menu-item: clamp(30px, 9.375vw, 40.5px);
        --ls-base: clamp(2px, 0.625vw, 2.7px);
        --ls-wide: clamp(5px, 1.5625vw, 6.75px);
    }
}

body {
    color: rgb(249, 247, 247);
    background-color: black;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space-10);
    padding-right: var(--space-10);
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.logo {
    text-align: center;
    font-size: var(--fs-logo);
    font-family: 'Avenir Next';
    font-style: Italic;
    font-weight: 100;
    letter-spacing: var(--ls-wide);
    margin: 0px var(--space-50) 0px var(--space-40);

    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Antipasto Pro Thin';
    src: url('../fonts/AntipastoProThin.ttf') format('truetype'),
}

@font-face {
    font-family: 'Klartext Mono';
    src: url('../fonts/KlartextMonoRegularItalic.ttf') format('truetype'),
}


span {
    text-decoration: line-through;
    text-decoration-thickness: 1px; 
}

a {
    display: block;
    margin: var(--space-40) 0px var(--space-40) var(--space-10);
    font-family: "Menlo";
    font-style: Italic;
    font-size: var(--fs-base);
    font-weight: 100;
    color:rgb(249, 247, 247);
    text-decoration: none;
}

a:hover, a:active, a:focus, a:visited {
    text-shadow: 5px 5px 20px rgb(100, 247, 247);
    font-style: Bold Italic;
    font-weight: 1000;
  }


p {
    margin: var(--space-40) 0px var(--space-40) var(--space-10);
    font-family: "Menlo";
    font-style: Italic;
    letter-spacing: var(--ls-base);
    font-size: var(--fs-base);
    font-weight: 100;
    width: 70vh
}


/* styles for the menu icon and menu */


/* New styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vh 0 0; /* Add padding to the right */
    position: relative;
}

.menu-icon {
    font-size: var(--fs-menu-icon);
    cursor: pointer;
    margin-left: 0vw; /* Add spacing between logo and menu icon */
    font-family: "Arial", "Helvetica", sans-serif;
}

/* Visually hide the checkbox */
#menu-toggle {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.menu {
    list-style: none;
    position: absolute;
    top: 100%; /* Adjust positioning with some spacing */
    right: calc(var(--space-10) / 2);
    left: calc(var(--space-10) / 2);  /* Keep equal horizontal margin on both sides */
    background-color: black;
    padding: 0px;
    display: none;
    z-index: 1; /* Ensure menu is on top of other content */
    text-align: center; /* Align menu items to the center */
    margin: 0; /* Remove default margin */
}

.menu.active {
    display: block;
}

.content {
    margin-top: 0; /* Default margin */
    transition: margin-top 0.3s ease; /* Add transition for smooth effect */
    position: relative; /* Add this line to establish stacking context */
}


/* Apply the margin only when the menu is active */
.content.menu-active {
    margin-top: var(--menu-offset);
}


.menu li {
    font-size: var(--fs-menu-item);
    letter-spacing: var(--ls-wide);
    padding: 0px; /* Add padding inside each menu item */
    border: 1px solid white; /* Add border around each menu item */
    margin: 0; /* Add spacing between menu items */

}

.small {
    font-size: var(--fs-base);
}

@media (min-width: 900px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        padding: 0 2vw;
    }

    .menu {
        right: var(--space-10);
        left: var(--space-10);
    }
}
