/* IMPORTANT COMMENT!!!!!
/* have circle roll across screen after loading, bounce off wall, and settle to middle top of page?  */

.circle {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("../images/circle.png");
  background-size: cover;
  border-radius: 50%;
  
  /* Animation to spin and freeze the circle */
  -webkit-animation: spin 1s linear, freeze .5s linear 1s forwards, replaceImage 1s linear 1.5s forwards;
  -moz-animation: spin 1s linear, freeze .5s linear 1s forwards, replaceImage 1s linear 1.5s forwards;
  -ms-animation: spin 1s linear, freeze .5s linear 1s forwards, replaceImage 1s linear 1.5s forwards;
  animation: spin 1s linear, freeze .5s linear 1s forwards, replaceImage 1s linear 1.5s forwards;
  
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  
  position: absolute;
  left: 38%;
  transform: translate(0%, 0%);
}

/* Spinning the torus using keyframes */
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(240deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(240deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(240deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(240deg); }
}

/* Freeze the circle in place after 2 seconds */
@-moz-keyframes freeze {
  0%   { /* Initial state */ }
  100% { /* Stay in place */ }
}
@-ms-keyframes freeze {
  0%   { /* Initial state */ }
  100% { /* Stay in place */ }
}
@keyframes freeze {
  0%   { /* Initial state */ }
  100% { /* Stay in place */ }
}
@-webkit-keyframes freeze {
  0%   { /* Initial state */ }
  100% { /* Stay in place */ }
}





/* Replace the image after 3 seconds */
@-moz-keyframes replaceImage {
  0%   { /* No change */ }
  100% {
      background-image: url("../images/lexiconic torus.png"); /
  }
}
@-ms-keyframes replaceImage {
  0%   { /* No change */ }
  100% {
      background-image: url("../images/lexiconic torus.png"); 
  }
}
@keyframes replaceImage {
  0%   { /* No change */ }
  100% {
      background-image: url("../images/lexiconic torus.png"); 
  }
}
@-webkit-keyframes replaceImage {
  0%   { /* No change */ }
  100% {
      background-image: url("../images/lexiconic torus.png"); 
  }
}





